<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptionless" version="3.1.1382" targetFramework="net451" />
  <package id="Exceptionless.Portable" version="3.1.1382" targetFramework="net451" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net451" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NHotkey" version="1.2.1" targetFramework="net451" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net451" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net451" />
</packages>